<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :ingredient %>
    <%= f.input :description %>
    <%= f.input :calories %>
    <%= f.input :category %>
    <%= f.input :dietary_requirement %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
