<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "Enter the item name", label: "Item name" %>
     <%= f.input :price,  %>
   <!--  <%= f.input :quantity, input_html: {value: f.object.quantity || '1'} %> -->
    <%= f.input :ingredient %>
    <%= f.input :description %>
    <%= f.input :calories %>
    <%= f.input :category, collection: ["Drinks","Desserts","Hot Food"] %>
    <%= f.input :dietary_requirement, collection: ["vegan", "gluten free"] %>
    <%= f.input :picture, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
